#bibbase {
  font-family: "Lucida Sans", 'Segoe UI', 'Consolas', 'Calibri';
  font-size: 20px;
}

#bibbase_header a {
    text-decoration: none;
}

#bibbase_header i {
    width: 16px;
    text-align: center;
    margin-right: 5px;
}

.bibbase_group {
    /* background-color: #D0D0E0; */
    background-color: transparent;
    /*border-color: #23c6c8;*/
    font-style: italic;
    font-size: 20pt;
    /*text-shadow: 0px 0px 3px #FFFFFF;*/
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 40px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #3385FF;
}

.bibbase_paper { /*e.g. journal / conference title */
  font-size: 14pt;
}


.bibbase_group_body {
    margin-left: 15px;
}


img.bibbase_icon {
    width: 20px;
    max-height: 16px;
    vertical-align: text-top;
    

    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    filter: gray; /* IE6+ */
}

img.bibbase_icon:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.bibbase_icon_text {
  color: #5D0001;
  font-size: 9pt;
  line-height: 12pt;
  margin-bottom: 10px;
  text-decoration: none;
}

.bibbase_icon_text:after {
  content: " | ";
}

span.bibbase_icon_text {
  text-decoration: none;
}


/* span.bibbase_icon_text { */
/*     display: none; */
/* } */

.bibbase_code {
    width: 80%
}

span.bibbase_paper_titleauthoryear {
  color: #000000;
  font-size: 9pt;
  display: block;
}

span.bibbase_paper_title {
  color: #000000;
  font-size: 16pt;
  /*line-height: 12pt;*/
  font-weight: bold;
  display: block;
}

span.bibbase_paper_title a, span.bibbase_paper_title a:link, span.bibbase_paper_title a:visited {
  color: #5D0001;
  text-decoration: none;
  background-color: transparent;
}

span.bibbase_paper_title a:hover {
  text-decoration: underline;
  background-color: transparent;
}

span.bibbase_paper_author {
  color: #000000;
  font-size: 14pt;  
  /*line-height: 12pt;*/
  margin-bottom: 0px;
}

span.bibbase_paper_year {
  color: #000000;
  font-size: 9pt;
  line-height: 12pt;
  margin-bottom: 0px;
}

span.bibbase_paper_content {
  font-size: 9pt;
  line-height: 11pt;
  letter-spacing: -0.5px;
  text-decoration: none;
}

.bibbase_paper_content a {
  font-size: 9pt;
  line-height: 11pt;
  letter-spacing: -0.5px;
  text-decoration: none;
  margin-bottom: 10px;
}

span.bibbase_paper_venue {
  font-size: 9pt;
  line-height: 11pt;
  letter-spacing: -0.5px;
}

span.bibbase_paper_note {
  font-size: 9pt;
  line-height: 11pt;
  letter-spacing: -0.5px;
}

span.bibbase_group_count {
    display: none;
}

span.bibbase_group_head {
    display: none;
}

.comment {
    font-size: 2426;
    font-style: italic;
    color: red;
}

.recommended {
    color: green;
}

/* bootstrap */

.bibbase_msg {
    text-align: center;
    width: 80%;
    margin: auto;
}

#bibbase_embed_modal {
    width: 70%;
    left: 15%;
    margin: 0;
}

.bibbase.well {
    margin: 2pt;
    overflow-wrap: break-word;
}

.bibbase.link {
    text-decoration: none;
    font-size: 12pt;
}

