#bibbase {
  font-family: "Lucida Sans", 'Segoe UI', 'Consolas', 'Calibri';
  font-size: 12px;
}

/*#bibbase_header a {
    text-decoration: none;
}*/

#bibbase_header i {
    width: 14px;
    text-align: right;
    margin-right: 5px;
}

#bibbase_header a[onclick="groupby('downloads')"] { display: none; }

.groupby_dropdown {
  display: none;
}

.bibbase_group {
    /* background-color: #D0D0E0; */
    background-color: transparent;
    /*border-color: #23c6c8;*/
    font-style: italic;
    font-size: 16pt;
    /*text-shadow: 0px 0px 3px #FFFFFF;*/
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 40px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #3385FF;
}

.bibbase_paper { /*e.g. journal / conference title */
  font-size: 12pt;
}


.bibbase_group_body {
    margin-left: 15px;
}


img.bibbase_icon {
    width: 20px;
    max-height: 16px;
    vertical-align: text-top;
    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    filter: gray; /* IE6+ */
}

img.bibbase_icon:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.bibbase_icon_text {
  color: #3385FF;
  font-weight: bold;
  font-size: 12pt;
  line-height: 12pt;
  margin-bottom: 10px;
  text-decoration: none;
}

a .bibbase_icon {
     display: none;
}

a .bibbase_icon_text { 
    display: inline-block; 
}

.bibbase_icon_text:before {
	content:"[";
}

.bibbase_icon_text:after {
	content:" ]";
}

/*.bibbase_icon_text:after {
  content: " | ";
}*/

span.bibbase_icon_text {
  text-decoration: none;
  /*color: green;*/
}


/* span.bibbase_icon_text { */
/*     display: none; */
/* } */

.bibbase_code {
    width: 80%
}

span.bibbase_paper_titleauthoryear {
  color: #000000;
  font-size: 9pt;
  display: block;
}

span.bibbase_paper_title {
  color: #000000;
  font-size: 14pt;
  /*line-height: 12pt;*/
  font-weight: bold;
  display: block;
}

span.bibbase_paper_title a, span.bibbase_paper_title a:link, span.bibbase_paper_title a:visited {
  color: #5D0001;
  text-decoration: none;
  background-color: transparent;
}

span.bibbase_paper_title a:hover {
  text-decoration: underline;
  background-color: transparent;
}

span.bibbase_paper_author {
  color: #000000;
  font-size: 12pt;  
  /*line-height: 12pt;*/
  margin-bottom: 0px;
}

span.bibbase_paper_year {
  color: #000000;
  font-size: 9pt;
  line-height: 12pt;
  margin-bottom: 0px;
}

span.bibbase_paper_content {
  font-size: 9pt;
  line-height: 11pt;
  letter-spacing: -0.5px;
  text-decoration: none;
}

.bibbase_paper_content a {
  font-size: 9pt;
  line-height: 11pt;
  letter-spacing: -0.5px;
  text-decoration: none;
  margin-bottom: 10px;
}

span.bibbase_paper_venue {
  font-size: 9pt;
  line-height: 11pt;
  letter-spacing: -0.5px;
}

span.bibbase_paper_note {
  font-size: 9pt;
  line-height: 11pt;
  letter-spacing: -0.5px;
}

span.bibbase_group_count {
    display: none;
}

span.bibbase_group_head {
    display: none;
}

.comment {
    font-size: 2426;
    font-style: italic;
    color: red;
}

.recommended {
    color: green;
}

/* bootstrap */

.bibbase_msg {
    text-align: center;
    width: 80%;
    margin: auto;
}

#bibbase_embed_modal {
    width: 70%;
    left: 15%;
    margin: 0;
}

.bibbase.well {
    margin: 2pt;
    overflow-wrap: break-word;
}

.bibbase.link {
    text-decoration: none;
    font-size: 12pt;
}

img.img_fancy {
 -moz-border-radius: 6px 6px 6px 6px;
 -webkit-border-radius: 6px;
 -moz-box-shadow: 5px 5px 5px #888;
 -webkit-box-shadow: 5px 5px 5px #888;
}


#group_article div.bibbase_group i+span { display: none; }
#group_inproceedings div.bibbase_group i+span { display: none; }
#group_mastersthesis div.bibbase_group i+span { display: none; }
#group_phdthesis div.bibbase_group i+span { display: none; }
#group_techreport div.bibbase_group i+span { display: none; }
#group_unpublished div.bibbase_group i+span { display: none; }
#group_incollection div.bibbase_group i+span { display: none; }

#group_article div.bibbase_group i:after { content: " Journal Articles" }
#group_inproceedings div.bibbase_group i:after { content: " Conference and Workshop Publications" }
#group_mastersthesis div.bibbase_group i:after { content: " Master's Thesis" }
#group_phdthesis div.bibbase_group i:after { content: " PhD Thesis" }
#group_techreport div.bibbase_group i:after { content: " Technical Report" }
#group_unpublished div.bibbase_group i:after { content: " Unpublished" }
#group_incollection div.bibbase_group i:after { content: " In Collection" }


/*a:link { color:#0000b0; text-decoration:none; }
a:visited { color:#3030a0; text-decoration:none;} 
a:hover { color:#FA7200; text-decoration:underline;}
a:active { color:#3030f0; text-decoration:none;}
a:focus { font-style:italic; text-decoration:none;}

cfdef { color:green; }
cfassume { color:red; }
cfdisagree { color:olive; }
cfdiff { color:orange; }
cflike { color:blue; }
cfemph { color:yellow; }
cfcomment { font-family: serif; font-style: italic; }
cfidea { font-family: serif; font-style: italic; color:#4040C0 }
cfclass { color:#409000; font-family: serif; }
cflearn { color:#F000F0; }
.cflearn { background-color:#400040; }
cfmath { font-style: italic; }*/


ul { margin-top:0.2em; margin-bottom:0.0em; }
h4,h5,h6 { margin-top:2em; margin-bottom:0.0em; }


/* for dashed HRs */
hr .dashed { border:1px dashed }

/* notes background */
td .notes { background-color:#B0B0B0; }


.bibbase.read {
    border-radius: 3px 3px 3px 3px;
    color: #bbb !important;
    padding: 1px 8px 1px 8px;
    display: inline-block;
    /* width: 20px; */
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s, background-color 0.5s;
    -webkit-transition: width 0.5s, background-color 0.5s;
    vertical-align: middle;
    font-size: 1vh;
}

.bibbase.read span {
    width: 0px;
}

.bibbase.read.hasread {
    color: #63CF5F !important;
}

.bibbase.read:hover {
    background-color: #ddd;
    width: 20vh;
}

.bibbase.read:hover span {
    width: inherit;
}

.bibbase.read.hidden {
    /* #LATER: Remove this class for logged in users. */
    display: none;
}

#bibbase li {
    list-style: none;
}